/* GLOBAL STYLES
-------------------------------------------------- */

@font-face {
    font-family: 'cwTeXHei';
    font-style: normal;
    font-weight: 500;
    src: url(http://fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.eot);
    src: url(http://fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.eot?#iefix) format('embedded-opentype'), url(http://fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.woff2) format('woff2'), url(http://fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.woff) format('woff'), url(http://fonts.gstatic.com/ea/cwtexhei/v3/cwTeXHei-zhonly.ttf) format('truetype');
}


/* 修改 bootstrap預設 */

body,input,button,select,textarea {
    font-family: "Helvetica Neue", Helvetica, Arial, "微軟正黑體", "微软雅黑", "メイリオ", "맑은 고딕", sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Helvetica Neue", Helvetica, Arial, "微軟正黑體", "微软雅黑", "メイリオ", "맑은 고딕", sans-serif;
}


/*----------*/
.iframe-rwd {
    position: relative;
    padding-bottom: 65.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
.iframe-rwd iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*-----------------------------------------------*/

#Home_Carousel {
    margin-bottom: 20px;
}
/*
#Home_Carousel h1 {
    font-family: "cwTeXHei";
}*/

#Home_Carousel .slider_img {
    width: 100%;
    height: 550px;
    text-align: center;
    overflow: hidden;
}

#Home_Carousel .slider_img100 {
    width: 100%;
}

#Home_Carousel .slider_img33 {
    width: 32.5%;
}

#Home_Carousel .slider_text {
    display: block;
    background: rgba(10, 10, 25, 0.3);
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    width: 100%;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 80px;
    padding-right: 80px;
    position: absolute;
    bottom: 0px;
    min-height: 120px;
    overflow: hidden;
}

#Home_Carousel .slider_text p {
    font-size: 12pt;
    text-align: left;
}



/*---------*/


/* Padding below the footer and lighter body text */

html {
    height: 100%;
}

body {
    height: 100%;
    padding-bottom: 40px;
    color: #5a5a5a;
}

#footer {
    background: #343741;
    color: white;
    font-size: 12pt;
    line-height: 20pt;
    padding-top: 10px;
}

.footer_main {
    margin: 5px;
    margin-bottom: 0px;
    padding-bottom: 10px;
}

.footer_main h3 {
    font-family: "cwTeXHei";
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    font-weight: bold;
}

.footer_main ul {
    padding-left: 20px;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */


/* Special class on .container surrounding .navbar, used for positioning it into place. */

.navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}


/* Flip around the padding for proper display in narrow viewports */

.navbar-wrapper > .container {
    padding-right: 0;
    padding-left: 0;
}

.navbar-wrapper .navbar {
    padding-right: 15px;
    padding-left: 15px;
}

.navbar-wrapper .navbar .container {
    width: auto;
}





/* MARKETING CONTENT
-------------------------------------------------- */


/* Center align the text within the three columns below the carousel */

.marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}

.marketing h2 {
    font-weight: normal;
}

.marketing .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
    margin: 80px 0;
    /* Space out the Bootstrap <hr> more */
}


/* Thin out the marketing headings */

.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}





/*--- ############################################## è‡ªé©æ‡‰ ############################################## --*/

@media screen and (max-device-width: 480px) {
}

@media screen and (max-width: 767px) {
    h1{
        font-size: 20pt;
    }
    body {
      padding-top: 0px;
    }
    
    #Myimg
    {
        min-height: 200px;
        min-width: 200px;
        height: auto;
        width: auto;
        padding-bottom: 10px;
    }

    #Home_Carousel
    {
        padding-top: 50px;
    }
    #Home_Carousel .slider_img{
      height: 250px;
    }
    #Home_Carousel .slider_text{
      padding-left: 20px;
      padding-right: 20px;
    }
    .navbar-default .navbar-brand img {
      height: 60px;
    }

    .navbar-default .navbar-nav li{
      text-align: center;
      margin-right: 0px;
    }
    #home .panel-title {
      font-size: 10pt;
    }
    #home .panel-title .Count{
      line-height: 100%;
      font-size: 24pt; 
      font-style: italic;
    }
    #home .panel-titlenote{
      font-size: 10pt;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    #Home_Carousel .slider_img{
      height: 500px;
    }
    .navbar-default .navbar-brand img {
      height: 80px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
}

@media screen and (min-width: 1200px) {
}

